<!-- if users.any?について -->
<!-- users（Userのモデル）が1つでもあればtrueになり、if文の中身を実行 -->
<!-- users（Userのモデル）が1つも無ければfalseになり、if文の中身は実行されない -->
<%if users.any? %>
  <!-- list-unstyled:マーク(先頭の・)無しリスト-->
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <!-- 周辺のメディアとコンテンツに囲まれずに一緒に配置され、複雑で反復的なコンポーネントが構築可能 -->
      <li class="media">
        <!-- rounded:角丸の枠を作る設定-->
        <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
        <div class="media-body">
          <div>
            <!--usersテーブルの各userのnameを表示-->
            <%= user.name %>
          </div>
          <div>
            <!-- route作成時に同時生成されたパスメソッドuser_path(user)でusers#showに移動 -->
            <p><%= link_to "View profile", user_path(user) %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <% paginate users %>
<% end %>
