<header class="mb-4">
  <!-- navbarのレスポンシブ・配色設定 -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Microposts</a>
   <!-- レスポンシブ時のハンバーガーボタン設定 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
     <!-- 通常時の表記設定 -->
     <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link">Signup</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
      </ul>
    </div>
  </nav>
</header>

 <!-- classの意味詳細はmessage-boardのnavbarパーシャルに記載 -->